@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-neutral-900 text-white flex flex-col items-center justify-center min-h-screen;
  font-family: Arial, Helvetica, sans-serif;
}
